.board__line {
    display: inline-block;
}
.board__cell {
    width: 50px;
    height: 50px;
    border: 1px solid #555;
}
.board__cell._corner {
    background: #999;
}
.board__cell._throne {
    background: #999;
}