.info {
    font: 23px 'Helvetica', 'Arial', sans-serif;
    background: #f3f3f3;
    padding: 5px;
}
.info__color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 3px;
}
._black .info__color {
    text-shadow: 0 1px 0 #333;
    background: #333;
}
._white .info__color {
    text-shadow: 0 1px 0 #fff;
    background: #fff;
}
.info__winner {
    display: none;
}