body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}
.main {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.actions__connectToCommonServer {
    cursor: pointer;
    background: #393;
    color: #fff;
    text-shadow: 0 1px #000;
    padding: 5px 10px;
    font-family: helvetica, arial, sans-serif;
    font-size: 32px;
}
.actions__connectToCommonServer:hover {
    box-shadow: 0 0 2px 1px #555;
}